* {
  margin: 0;
  padding: 0;
}

.flag-germany {
  position: absolute;
  width: 400px;
  height: 300px;
}

.block-one {
  background-color: black;
  color: black;
  width: 400px;
  height: 100px;
}

.block-two {
  background-color: red;
  color: red;
  width: 400px;
  height: 100px;
}

.block-trhee {
  background-color: yellow;
  color: yellow;
  width: 400px;
  height: 100px;
}

.flag-germany:hover {
  display: none;
}

.flag-hungary {
  position: static;
  width: 400px;
  height: 300px;
}

.block-four {
  background-color: red;
  color: red;
  width: 400px;
  height: 100px;
}
.block-five {
  background-color: white;
  color: white;
  width: 400px;
  height: 100px;
}
.block-six {
  background-color: green;
  color: green;
  width: 400px;
  height: 100px;
}

.second-flag {
  margin-top: 100px;
  position: statis;
}

.column-one {
  background-color: blue;
  width: 133px;
  height: 300px;
  display: inline-block;
}

.column-two {
  background-color: while;
  width: 133px;
  height: 300px;
  display: inline-block;
}

.column-trhee {
  background-color: red;
  width: 133px;
  height: 300px;
  display: inline-block;
}

.flag-france:hover .column-one {
  background-color: green;
}
.flag-france:hover .column-two {
  background-color: white;
}
.flag-france:hover .column-trhee {
  background-color: yellow;
}
